<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.thalesgroup.com/spem/2.0"
            class="org.obeonetwork.dsl.spem.SpemPackage"
            genModel="model/spem2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.thalesgroup.com/spem/2.0/uma"
            class="org.obeonetwork.dsl.spem.uma.UmaPackage"
            genModel="model/spem2.genmodel"/>
   </extension>

</plugin>
