<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.thalesgroup.com/spem/2.0/lifecycle"
            class="org.obeonetwork.dsl.spem.extension.lifecycle.LifecyclePackage"
            genModel="model/lifecycle.genmodel"/>
   </extension>

</plugin>
